{% extends 'temp/main_user.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1 style="color: white">View Booking Status</h1>
    <table border="1" class="table table-striped">
        <tr style="color: white">
            <td>Doctor</td>
{#            <td>Booking Date</td>#}
            <td>Booking Time</td>
            <td>Status</td>
        </tr>
        {% for i in x %}
        <tr style="color: white">
        <td>{{ i.schedule.doctor.dname }}</td>
{#        <td>{{ i.booking_date }}</td>#}
        <td>{{ i.booking_time }}</td>
        <td>{{ i.status }}</td>

        
        </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>
{% endblock %}
