{% extends 'temp/main_pharmacy.html' %}
{% block base %}
<div class="container position-relative wow fadeInUp" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="bg-light text-center p-5">
                        <h1 class="mb-4">Pharmacy Bill</h1>
                        <form method="post" enctype="multipart/form-data" onsubmit="showAdminPopup()">
                            {% csrf_token %}
                             <div class="row g-3">
                                <div class="col-12">
                                    <select name="pr" class="form-control" required="">
                                    <option>--select--</option>
                                        {% for i in y %}
                                            <option value="{{ i.prescription_id }}">{{ i.user.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <input type="text" name="qty" class="form-control" placeholder="Enter Quantity" required="">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="amnt" class="form-control" placeholder="Enter amount" required="">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
            </div>
                  <script>
    function showAdminPopup() {
        alert('Succcessfully Added')
    }
    </script>
                        </form>
            </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
