{% extends 'temp/main_pharmacy.html' %}
{% block base %}
<div class="container position-relative wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -6rem;">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="bg-light text-center p-5">
                        <h1 class="mb-4">Update Pharmacy Bill</h1>
                        <form method="post" onsubmit="showAdminPopup()">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="text" name="qty" class="form-control" value="{{ x.qty }}">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="amnt" class="form-control" value="{{ x.amount }}">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Update</button>
                                </div>
                            </div>
                              <script>
    function showAdminPopup() {
        alert('Succcessfully Updated')
    }
    </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
