{% extends 'temp/main_user.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1 style="color: white">View Clinic Bill</h1>
    <table border="1" class="table table-striped">
        <tr style="color: white">
            <td>Bill</td>
            <td>Date</td>
            <td>Time</td>
            <td>Status</td>
        </tr>
        {% for i in x %}
        <tr style="color: white">
           <td><a href="/static/{{ i.bill }}"><img src="/static/{{ i.bill }}" href="50" width="50"></a> </td>
        <td>{{ i.date }}</td>
        <td>{{ i.time }}</td>
            <td>{{ i.status }}</td>
{#        <td><a href="/payment/clinic_pay/{{ i.clinicbill_id }}" class="btn btn-primary">Pay</a> </td>#}

        </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>
{% endblock %}
