{% extends 'temp/main_staff.html' %}
{% block base %}
<div class="container position-relative wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -6rem;">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="bg-light text-center p-5">
                        <h1 class="mb-4">Update Staff</h1>
                        <form method="post" onsubmit="showAdminPopup()">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="text" name="dname" class="form-control" value="{{ x.name }}">
                                </div>
                                  <div class="col-12">
                                    <input type="text" name="age" class="form-control" value="{{ x.age }}" >
                                </div>

                                <div class="col-12">
                                    <input type="email" name="email" class="form-control" value="{{ x.email }}" >
                                </div>
                                 <div class="col-12">
                                    <input type="text" name="phone" class="form-control" value="{{ x.phone_no }}">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="place" class="form-control" value="{{ x.place }}" >
                                </div>
                                 <div class="col-12">
                                    <input type="text" name="username" class="form-control" value="{{ x.username }}">
                                </div>
                                 <div class="col-12">
                                    <input type="password" name="pass" class="form-control" value="{{ x.password }}">
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Update</button>
                                </div>
                            </div>
                              <script>
    function showAdminPopup() {
        alert('Updated Succssessfully')
    }
    </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
