{% extends 'temp/main_user.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1 style="color: white">View Payment Status</h1>
    <table border="1" class="table table-striped">
        <tr style="color: white">
            <td>User Name</td>
            <td>Amount</td>
            <td>Date</td>
            <td>Time</td>
            <td>Status</td>
        </tr>
        {% for i in x %}
        <tr style="color: white">
         <td>{{ i.booking.user.name }}</td>
            <td>{{ i.amount }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.time }}</td>
        <td>{{ i.status }}</td>
        </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>
{% endblock %}
